/* 
# GROUP PROJECT

## Welcome to the COMP 247 Project - Supervising Learning Project - KSI Collisions Toronto

Relevant Information:

    College: Centennial College
    Program: Software Engineering Technology - Artificial Intelligence
    Term: Summer 2022
    Course: 22M --Supervised Learning (SEC. 001) - COMP247001_2022MW

Group # 7

Group Members

    Ripudaman - 301221570
    Karan Maria - 301238368
    Mahpara Rafia Radmy - 301176893
    Ronald Saenz Huerta - 301218602
    Manipal Sidhu - 300859319
    
COMP 247 Project

Group Project – Developing a predictive machine learning model (classifier) and deploy it as a web API for inference
Dataset

https://data.torontopolice.on.ca/datasets/TorontoPS::ksi/about
Models:

    Logistic Regression
    Random Forest Classifier
    Decision Tree Classifier
    KNeighbors Classifier
    SVC
*/

#models {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 16px;
  margin-top: 30px;
  
}
.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #66B600;
  border: none;
  color: #000000;
  text-align: center;
  font-size: large;
  padding: 18px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: serif;
}
.button:hover {
  background-color: #f1c40f;
  color: #003300;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-size: x-large;
}
.active, .btn:hover {
background-color: #666;
color: white;
}

#fields {
display: grid;
grid-template-columns: auto auto auto auto auto auto;
justify-content: center;
border-radius: 20px;
column-gap: 10px;
row-gap: 10px;
} 

input{
border-radius: 20px;
padding: 5px;
margin: 5px;
}

label{
border-radius: 20px;
padding: 5px;
margin: 5px;
}